<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.lifelaboratory.rosbank">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="100.64.23.177"
                    android:pathPrefix="/transfer"
                    android:scheme="http" />
                <data
                    android:host="100.64.23.177"
                    android:pathPrefix="/qr"
                    android:scheme="http" />
                <data
                    android:host="100.64.23.177"
                    android:pathPrefix="/convert"
                    android:scheme="http" />
                <data
                    android:scheme="lifelaboratory" />

            </intent-filter>
        </activity>
        <activity
            android:name=".CurrencyTransferActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".TransferActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".QRPaymentActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.rahuljanagouda.statusstories.StatusStoriesActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <service android:name=".NotificationService" />
    </application>

</manifest>