<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>[Life] Laboratory | Главная страница</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css" />
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("Index", ['ngMaterial']);
        app.controller("IndexController", function($scope, $http, $mdDialog){
            // запонение массивов данных
            $scope.profile = [];
            $http({
                method: 'GET',
                url: "http://100.64.17.109:13451/api/statistic"
            }).then(function (value) {
                console.log(value);
                $scope.profile = value.data;
            }, function (reason) {
                console.log(reason);
            });

            $scope.stories = [];
            $http({
                method: 'GET',
                url: "http://100.64.17.109:13451/api/stories?type=1&id_user=1"
            }).then(function (value) {
                console.log(value);
                $scope.stories = value.data;
            }, function (reason) {
                console.log(reason);
            });

            $scope.features = [];
            $http({
                method: 'GET',
                url: "http://100.64.17.109:13451/api/features/1"
            }).then(function (value) {
                console.log(value);
                $scope.features = value.data;
            }, function (reason) {
                console.log(reason);
            });

            $scope.tutorials = [];
            $http({
                method: 'GET',
                url: "http://100.64.17.109:13451/api/notifications/1"
            }).then(function (value) {
                console.log(value);
                $scope.tutorials = value.data;
            }, function (reason) {
                console.log(reason);
            });

            $scope.showHistory = function(ev, id_user) {
                $http({
                    method: 'GET',
                    url: "http://100.64.17.109:13451/api/statistic/" + id_user
                }).then(function (value) {
                    $scope.one_profile = value.data;
                    $scope.one_profile_id = id_user;
                    console.log($scope.one_profile);
                }, function (reason) {
                    console.log(reason);
                });

                $mdDialog.show({
                    controller: DialogController,
                    templateUrl: 'html/history.html',
                    parent: angular.element(document.body),
                    targetEvent: ev,
                    preserveScope: true,
                    scope: $scope,
                    clickOutsideToClose: true
                })
                    .then(function(answer) {}, function() {});
            };

            function DialogController($scope, $mdDialog) {
                $scope.hide = function() {
                    $mdDialog.cancel();
                };
                $scope.cancel = function() {
                    $mdDialog.cancel();
                };
            }

            function DialogControllerAddHistory($scope, $mdDialog) {
                $scope.hide = function() {
                    $http({
                        method: 'POST',
                        url: "http://100.64.17.109:13451/api/stories/add",
                        data: {
                            'id_user': 1,
                            'url': $scope.history.url
                        }
                    }).then(function (value) {
                        console.log(value);
                    }, function (reason) {
                        console.log(reason);
                    });
                    $mdDialog.cancel();
                };
                $scope.cancel = function() {
                    $mdDialog.cancel();
                };
            }

            $scope.showAddDialog = function(ev) {
                $mdDialog.show({
                    controller: DialogControllerAddHistory,
                    templateUrl: 'html/addHistory.html',
                    parent: angular.element(document.body),
                    targetEvent: ev,
                    preserveScope: true,
                    scope: $scope,
                    clickOutsideToClose: true
                })
                    .then(function(answer) {}, function() {});
            };

            function DialogControllerPublicHistory($scope, $mdDialog) {
                $scope.hide = function() {
                    $http({
                        method: 'POST',
                        url: "http://100.64.17.109:13451/api/stories/public",
                        data: {
                            'id_story': $scope.id_story,
                            'id_profile': $scope.profile_id_for_public
                        }
                    }).then(function (value) {
                        console.log(value);
                    }, function (reason) {
                        console.log(reason);
                    });
                    $mdDialog.cancel();
                };
                $scope.cancel = function() {
                    $mdDialog.cancel();
                };
            }

            $scope.showPublicDialog = function(ev, idStory) {
                $scope.id_story = idStory;
                $mdDialog.show({
                    controller: DialogControllerPublicHistory,
                    templateUrl: 'html/publicHistory.html',
                    parent: angular.element(document.body),
                    targetEvent: ev,
                    scope: $scope,
                    preserveScope: true,
                    clickOutsideToClose: true
                })
                    .then(function(answer) {}, function() {});
            };

            function DialogControllerPublicTutorial($scope, $mdDialog) {
                $scope.hide = function() {
                    var image = [$scope.first_element, $scope.second_element, $scope.third_element, $scope.fourth_element];
                    while(image.indexOf(undefined) >= 0) {
                        image.splice(image.indexOf(undefined), 1);
                    }

                    var description = [$scope.first_element_text, $scope.second_element_text, $scope.third_element_text, $scope.fourth_element_text]
                    while(description.indexOf(undefined) >= 0) {
                        description.splice(description.indexOf(undefined), 1);
                    }

                    $http({
                        method: 'POST',
                        url: "http://100.64.17.109:13451/api/stories/add",
                        data: {
                            'url': image,
                            'description': description,
                            'id_user': 1,
                            'type': 2,
                            'name': $scope.tutorial_name
                        }
                    }).then(function (value) {}, function (reason) {
                        console.log(reason);
                    });
                    $mdDialog.cancel();
                };
                $scope.cancel = function() {
                    $mdDialog.cancel();
                };
            }

            $scope.showAddTutorialDialog = function(ev, idStory) {
                $scope.id_story = idStory;
                $mdDialog.show({
                    controller: DialogControllerPublicTutorial,
                    templateUrl: 'html/publicTutorial.html',
                    parent: angular.element(document.body),
                    targetEvent: ev,
                    preserveScope: true,
                    scope: $scope,
                    clickOutsideToClose: true
                })
                    .then(function(answer) {}, function() {});
            };

            $scope.has_build = [];
            $scope.changePublicDialog = function(ev, idStory) {
                $scope.id_story = idStory;
                $mdDialog.show({
                    controller: DialogControllerChange,
                    templateUrl: 'html/addHistory.html',
                    parent: angular.element(document.body),
                    targetEvent: ev,
                    scope: $scope,
                    clickOutsideToClose: true
                })
                    .then(function(answer) {
                        $scope.status = 'You said the information was "' + answer + '".';
                    }, function() {
                        $scope.status = 'You cancelled the dialog.';
                    });
            };

            function DialogControllerChange($scope, $mdDialog) {
                $scope.hide = function() {
                    $http({
                        method: 'POST',
                        url: "http://100.64.17.109:13451/api/stories/update",
                        data: {
                            'id_story': $scope.id_story,
                            'id_user': 1,
                            'url': $scope.history.url.split(" ")
                        }
                    }).then(function (value) {
                        console.log(value);
                    }, function (reason) {
                        console.log(reason);
                    });
                    $mdDialog.cancel();
                };
                $scope.cancel = function() {
                    $mdDialog.cancel();
                };
            }

            $scope.draw_data = function(index, type, android, web) {
                var width = 125;
                var height = 125;

                var radius = Math.min(width, height) / 2 - 10;

                var svg = d3
                    .select("#my_dataviz" + index + ":empty")
                    .append("svg")
                    .attr("width", width)
                    .attr("height", height)
                    .append("g")
                    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

                var data = {'android': android, 'web': web};
                var color = {'android': '#1e1819', 'web': '#ff233c'};

                var pie = d3.pie().value(function(d) {return d.value; });
                var data_ready = pie(d3.entries(data));

                var arcGenerator = d3.arc()
                    .innerRadius(0)
                    .outerRadius(radius);

                svg
                    .selectAll('mySlices')
                    .data(data_ready)
                    .enter()
                    .append('path')
                    .attr('d', arcGenerator)
                    .attr('fill', function(d){ return(color[d.data.key]) })
                    .attr("stroke", "black")
                    .style("stroke-width", "2px")
                    .style("opacity", 0.7);

                svg
                    .selectAll('mySlices')
                    .data(data_ready)
                    .enter()
                    .append('text')
                    .text(function(d){ return d.data.key})
                    .attr("transform", function(d) { return "translate(" + arcGenerator.centroid(d) + ")";  })
                    .style("text-anchor", "middle")
                    .style("font-size", 17);
            };

            $scope.draw_like_data = function(index, like, dislike) {
                var width = 125;
                var height = 125;

                var radius = Math.min(width, height) / 2 - 10;

                console.log(index + " " + like + " " + dislike);

                var svg = d3
                    .select("#my_like_dataviz" + index + ":empty")
                    .append("svg")
                    .attr("width", width)
                    .attr("height", height)
                    .append("g")
                    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

                var data = {'like': like, 'dislike': dislike};
                var color = {'like': '#ff233c', 'dislike': '#1e1819'};

                var pie = d3.pie().value(function(d) {return d.value; });
                var data_ready = pie(d3.entries(data));

                var arcGenerator = d3.arc()
                    .innerRadius(0)
                    .outerRadius(radius);

                svg
                    .selectAll('mySlices')
                    .data(data_ready)
                    .enter()
                    .append('path')
                    .attr('d', arcGenerator)
                    .attr('fill', function(d){ return(color[d.data.key]) })
                    .attr("stroke", "black")
                    .style("stroke-width", "2px")
                    .style("opacity", 0.7);

                svg
                    .selectAll('mySlices')
                    .data(data_ready)
                    .enter()
                    .append('text')
                    .text(function(d){ return d.data.key})
                    .attr("transform", function(d) { return "translate(" + arcGenerator.centroid(d) + ")";  })
                    .style("text-anchor", "middle")
                    .style("font-size", 17);
            }
        });
    </script>
</head>
<style>
    body, html { background-color: #fff; }
    .sample-show-hide { transition: all linear 0.5s; }
    .sample-show-hide.ng-hide { opacity: 0; }
</style>
<body id="home" ng-app="Index" ng-controller="IndexController">
<div class="body-wrapper">
    <!-- шапка страницы -->
    <header class="page-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler navbar-toggler-right" data-target="#navbarNav" data-toggle="collapse"
                        type="button"><span class="navbar-toggler-icon"></span></button>
                <img src="img/logo_rosbank_1.png" height="75px" />
                <a class="navbar-brand" href="/"><h1>[Life] Laboratory</h1></a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link scroll" href="#home">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll" href="#section1">Профили пользователей</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll" href="#section2">Истории</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- конец шапки страницы -->

    <!-- блок отображения пользователей -->
    <section id="section1" style="margin-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center offset-md-2">
                    <h2 class="section-heading wow fadeInUp">Пользователи</h2>
                    <md-card ng-repeat="user in profile" md-theme-watch>
                        <md-card-title ng-model="checked" ng-click="checked = !checked;">
                            <md-card-title-text>
                                <span class="md-headline">Профиль "{{user.description}}"</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content class="content-area sample-show-hide" ng-show="checked">
                            <md-list>
                                <md-list-item class="md-3-line" ng-repeat="u in user.users">
                                    <div class="md-list-item-text">
                                        <h2>{{u.name}}</h2>
                                        <table style="width: 100%" class="table table-striped">
                                            <thead>
                                                <th>Услуга</th>
                                                <th>Android</th>
                                                <th>Web</th>
                                                <th></th>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="feature in u.feature" style="font-size: 20px;">
                                                    <td>{{feature.name}}</td>
                                                    <td>{{feature.is_android}}</td>
                                                    <td>{{feature.is_web}}</td>
                                                    <td>{{draw_data($index, u.name, feature.count_android, feature.count_web)}}<div id="my_dataviz{{$index}}"></div></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </section>
    <!-- конец блока отображения пользователей -->

    <!-- блок работы с историями и туториалами -->
    <section id="section2" style="margin-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h2 class="section-heading wow fadeInUp">Истории</h2>
                    <center><md-button class="md-secondary" ng-click="showAddDialog($event)">Добавить</md-button></center>
                    <md-card ng-repeat="story in stories" md-theme-watch>
                        <md-card-title ng-model="checked" ng-click="checked = !checked;">
                            <md-card-title-text>
                                <span class="md-headline">История #{{story.id_stories}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content class="content-area sample-show-hide" ng-show="checked">
                            <img ng-repeat="img in story.image" src="{{img}}" height="150px" style="margin: 15px;"/>
                            <td>{{draw_like_data($index, story.like_count, story.dislike_count)}}<div id="my_like_dataviz{{$index}}"></div></td>
                        </md-card-content>
                        <md-card-footer>
                            <md-button ng-click="showPublicDialog($event, story.id_stories)">Опубликовать</md-button>
                            <md-button ng-click="changePublicDialog($event, story.id_stories)">Изменить</md-button>
                        </md-card-footer>
                    </md-card>
                </div>
                <div class="col-md-6 text-center">
                    <h2 class="section-heading wow fadeInUp">Туториал</h2>
                    <center><md-button class="md-secondary" ng-click="showAddTutorialDialog($event)">Добавить</md-button></center>
                    <md-card ng-repeat="tutorial in tutorials" md-theme-watch>
                        <md-card-title ng-model="checked" ng-click="checked = !checked;">
                            <md-card-title-text>
                                <span class="md-headline">{{tutorial.name}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content class="content-area sample-show-hide" ng-show="checked">
                            <table style="width: 100%" class="table table-striped">
                                <thead>
                                    <th>Компонент</th>
                                    <th>Текст подсказки</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="img in tutorial.image">
                                        <td>{{img}}</td>
                                        <td>{{tutorial.description[$index]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-card-content>
                        <md-card-footer>
                            <md-button ng-click="showPublicDialog($event, tutorial.id_notification)">Опубликовать</md-button>
                        </md-card-footer>
                    </md-card>
                </div>
            </div>
        </div>
    </section>
    <!-- конец блока работы с историями и туториалами -->

    <!-- подвал страницы -->
    <section class="footer" style="margin-top: 50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <center><strong>2019-2020<br />[Life team]&copy;</strong></center>
                </div>
            </div>
        </div>
    </section>
    <!-- конец подвала страницы -->
</div>
</body>
</html>