<!-- диалоговое окно публикации туториала -->
<md-dialog aria-label="События">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools" style="background-color: #ff233c;">
                <h2>Создание туториала</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()"></md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Название туториала</label>
                    <input ng-model="tutorial_name">
                </md-input-container>
                <md-input-container>
                    <md-select ng-model="first_element" placeholder="Элемент">
                        <md-option value="transfer">Кнопка "Перевод"</md-option>
                        <md-option value="currency_transfer">Кнопка "Конвертер валют"</md-option>
                        <md-option value="qr">Кнопка "Оплата по QR-коду"</md-option>
                        <md-option value="stories">Блок сторис</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Текст подсказки</label>
                    <input ng-model="first_element_text">
                </md-input-container>
                <md-input-container>
                    <md-select ng-model="second_element" placeholder="Элемент">
                        <md-option value="transfer">Кнопка "Перевод"</md-option>
                        <md-option value="currency_transfer">Кнопка "Конвертер валют"</md-option>
                        <md-option value="qr">Кнопка "Оплата по QR-коду"</md-option>
                        <md-option value="stories">Блок сторис</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Текст подсказки</label>
                    <input ng-model="second_element_text">
                </md-input-container>
                <md-input-container>
                    <md-select ng-model="third_element" placeholder="Элемент">
                        <md-option value="transfer">Кнопка "Перевод"</md-option>
                        <md-option value="currency_transfer">Кнопка "Конвертер валют"</md-option>
                        <md-option value="qr">Кнопка "Оплата по QR-коду"</md-option>
                        <md-option value="stories">Блок сторис</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Текст подсказки</label>
                    <input ng-model="third_element_text">
                </md-input-container>
                <md-input-container>
                    <md-select ng-model="fourth_element" placeholder="Элемент">
                        <md-option value="transfer">Кнопка "Перевод"</md-option>
                        <md-option value="currency_transfer">Кнопка "Конвертер валют"</md-option>
                        <md-option value="qr">Кнопка "Оплата по QR-коду"</md-option>
                        <md-option value="stories">Блок сторис</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Текст подсказки</label>
                    <input ng-model="fourth_element_text">
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="hide()">
                Добавить
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>